#cover{
    width:100%;
    aspect-ratio: 16/9;
    background-image:url('/src/assets/cover-bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: end;

   
    .cover-left{
        width:50%;
        height:100vh;

        #cover-logo{
            width:30%;
            height:auto;
            padding-left:4%;
            cursor: pointer;
        }
    
    }
    .cover-right{
        // font-family: Gafata;
        aspect-ratio: 8/9;
        width:50%;
        height:100vh;
        // background:black;
        // text-align: center;
        padding-top: 4vw;
        padding-right: 4vw;
        &>h2{
            // float:right;
            font-family: Gafata;
            font-size: 3vw;
            width:100%;
            text-align:end;
        }
        &>p{
            width:60%;
            text-align: end;
            float:right;
            font-size: 1.3vw;
        }
        &>button{
            float:right;
        }
    }
}

@media screen and (max-width:480px) {
    #cover{
        background-size:cover;
        background-position: center;
        flex-direction:column;
        height:100vh;

        .cover-left{
            width:100%;
            height:25vh;

            #cover-logo{
                width:30%;
                height:auto;
                margin-left:50vw;
                transform:translate(-50%);
                padding-left:0;
                cursor: pointer;
            }
        }

        .cover-right{
            width:100%;
            height:75vh;
        padding-top: 0;
        padding-right: 0;
        &>h2{
            font-family: Gafata;
            font-size: 5vw;
            width:100%;
            text-align:center;
        }
        &>p{
            width:60%;
            margin: 0 auto;
            text-align: center;
            float:none;
            font-size: 4vw;
            height:50vh;

            &>span{
                padding:1px 2px;
            }

            &>button{
                transform:scale(1.3);
            }
        }
        
        }
    }
}

