.custom-carousel{
    // aspect-ratio: 2/1;

    width:80%;
    // background: pink;
    height:auto;
    transform: translate(10%);
    display: flex;
    column-gap: 5vw;
}

.sponsor-name{
        padding: 5vw 0;
        text-align: center;
}

@media screen and (max-width:480px) {
    .custom-carousel{
      justify-content: center;
      column-gap: none;
      gap:5vh;
      flex-wrap:wrap;
    }

    .sponsor-name{
        padding: 5vh 0;
    }

}