.custom-carousel{
    // aspect-ratio: 2/1;

    width:80%;
    // background: pink;
    height:auto;
    transform: translate(10%);
    display: flex;
    column-gap: 5vw;
}

.sponsor-name{
        padding: 5vw 0;
        text-align: center;
}